.page-main {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('../../assets/bg.webp') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.main-toy {
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;

  &::before {
    content: '';
    position: absolute;
    width: 1%;
    background-color: #aaa;
  }
}

.first-main-toy {
  max-width: 300px;
  width: 100%;
  height: 380px;
  left: 20%;
  top: 100px;
  background-image: url('../../assets/ball/1.webp');

  &::before {
    top: -100px;
    left: 50%;
    height: 104px;
  }
}

.second-main-toy {
  max-width: 200px;
  width: 100%;
  height: 250px;
  left: 60%;
  top: 50px;
  background-image: url('../../assets/ball/2.webp');

  &::before {
    top: -50px;
    left: 50%;
    height: 53px;
  }
}

.start-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  min-height: calc(100vh - 140px);
}

.start-message__title {
  font-family: 'Neucha', sans-serif;
  display: flex;
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 500px;
  width: 100%;
  height: 249px;
  font-weight: 400;
  font-size: 42px;
}

.start-message__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 300px;
  width: 100%;
  height: 54px;
  font-size: 24px;
  font-family: 'Open-Sans', sans-serif;
  margin-bottom: 1.2em;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    display: block;
    background: linear-gradient(to left, rgba(255, 255, 255, 0) 50%, rgba(36, 197, 219, 0.4) 50%);
    background-size: 210% 100%;
    background-position: right bottom;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 30px;
    transition: all 1s;
  }
  &:hover {
    &::before {
      background-position: left bottom;
    }
  }
}

.start-message__title,
.start-message__button {
  background: rgba(36, 197, 219, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5.5px);
  border: 1px solid rgba(36, 197, 219, 0.8);
  border-radius: 30px;
}

@media screen and (max-height: 570px) {
  .first-main-toy {
    max-width: 250px;
    height: 300px;
  }
  .second-main-toy {
    max-width: 180px;
    height: 220px;
  }
}

@media screen and (max-width: 500px) {
  .first-main-toy {
    max-width: 200px;
    height: 250px;
    left: 10%;
  }
  .second-main-toy {
    max-width: 140px;
    height: 200px;
    left: 50%;
  }
}
