.toy-card {
  display: flex;
  flex-direction: column;
  width: 220px;
  min-height: 320px;
  color: #fff;
  @include glassmorfBtn(10px);
  border: none;
  padding: 24px 16px;
  cursor: pointer;
  @extend %common_trans;

  &:hover {
    transform: scale(1.1);
  }
}

.toy-card_active {
  background-color: $main_color;
}

.toy-card__title {
  margin: 0 0 12px;
  font: 400 18px 'Neucha', sans-serif;
}

.toy-card__text {
  margin: 0;
  font: 12px 'Open-Sans', sans-serif;
}

.toy-card__text:not(:last-child) {
  margin-bottom: 12px;
}

.toy-card__img {
  width: 104px;
  margin: 0 auto 16px;
}
