@import './reset.scss';

$main_color: #278d9f;
$bg_color: #192f2d;

%common_trans {
  transition: all 0.5s ease;
}

$main_color_filter: invert(45%) sepia(47%) saturate(595%) hue-rotate(141deg) brightness(96%)
  contrast(95%);

@mixin glassmorfBtn($radius: 30px) {
  background-color: rgba(157, 244, 255, 0.205);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: $radius;
  border: 1px solid #9df4ffd0;
}
