@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans&display=swap');

.header,
.footer {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  background-color: $bg_color;
}

.nav {
  display: flex;
  align-items: center;
  column-gap: 32px;
}

.nav__link {
  color: #fff;
  font-family: 'Neucha', sans-serif;
  font-size: 22px;
  @extend %common_trans;
  &:hover {
    color: $main_color;
  }
}

.active-link {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    border-bottom: solid 4px $main_color;
    width: 100%;
    top: 28px;
    left: 0;
  }
}

.logo {
  display: block;
  background: url('./assets/svg/tree.svg') no-repeat center;
  width: 40px;
  height: 50px;
  background-size: contain;
  @extend %common_trans;

  &:hover {
    filter: $main_color_filter;
  }
}

.selected-cards {
  flex-shrink: 0;
  position: relative;
  background: url('assets/svg/ball.svg') no-repeat center;
  background-size: contain;
  width: 48px;
  height: 48px;
}

.selected-cards__amount {
  font-family: 'Open-Sans', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -33%);
  background-color: $main_color;
  color: #fff;
  border-radius: 50%;
  height: 32px;
  width: 32px;
}

.footer {
  color: #fff;
  font-family: 'Neucha', sans-serif;
}

.github-author {
  @extend %common_trans;

  &:hover {
    color: $main_color;
  }
}

.rsschool-logo {
  background: url('./assets/svg/rss.svg') no-repeat center;
  background-size: contain;
  width: 100px;
  height: 50px;
  @extend %common_trans;

  &:hover {
    filter: $main_color_filter;
  }
}

.interact-block {
  display: flex;
  flex-wrap: wrap;
  gap: 12px 42px;
}

.music-btn,
.snow-btn {
  width: 36px;
  height: 36px;

  @extend %common_trans;
  &:hover {
    filter: $main_color_filter;
  }
}

.title {
  margin: 0;
  text-transform: uppercase;
  color: #fff;
  font: 400 20px 'Neucha', sans-serif;
  margin-bottom: 16px;
}

.page-tree {
  display: grid;
  grid-template-areas: 'settings tree toys';
  min-height: calc(100vh - 140px);
  grid-template-columns: 1fr 2fr 1fr;
  background: linear-gradient(
      rgba($color: $bg_color, $alpha: 0.8),
      rgba($color: $bg_color, $alpha: 0.8)
    ),
    url('./assets/bg.webp') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.page-tree__settings,
.page-tree__toys {
  padding: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}

.page-tree__settings {
  grid-area: settings;
  max-width: 320px;
}

.page-tree__toys {
  grid-area: toys;
  max-width: 370px;
}

.music-btn {
  background: center / contain no-repeat url('./assets/svg/audio.svg');
}

.snow-btn {
  background: center / contain no-repeat url('./assets/svg/snow.svg');
}

.default-trees {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.default-tree {
  width: 134px;
  height: 134px;
  @include glassmorfBtn(10px);
  border: none;
  cursor: pointer;
  @extend %common_trans;
  background-image: url('./assets/tree/1.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    transform: scale(1.1);
  }
}

.select-bg-trees {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.select-bg-tree {
  width: 68px;
  height: 68px;
  border-radius: 10px;
  cursor: pointer;
  @extend %common_trans;
  background-image: url('./assets/bg/2.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:hover {
    transform: scale(1.1);
  }
}

.garland-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.garland-checkbox {
  display: none;
}

.garland-slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  border-radius: 34px;
  top: 0;
  transition: 0.4s;
}

.garland-slider::before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  border-radius: 50%;
  transition: 0.4s;
  width: 26px;
}

.garland-checkbox:checked + .garland-slider {
  background-color: $main_color;
}

.garland-checkbox:checked + .garland-slider::before {
  transform: translateX(26px);
}

.garland-colors {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.garland-color {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background-color: red;

  position: relative;
  top: 0px;
  box-shadow: 0px 2px 0px #c4c4c4;
  text-shadow: 1px 1px 1px #fff;
  transition: all 250ms ease;

  &:active {
    position: relative;
    transition: all 250ms ease;
    top: 5px;
    box-shadow: none !important;
  }
}

.garland-title-box {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.garland-title {
  margin: 0;
}

.save-tree-btn {
  @include glassmorfBtn;
  max-width: 150px;
  height: 40px;
  width: 100%;
  font-family: 'Open-Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.bg-tree {
  grid-area: tree;
  position: relative;
  min-width: 700px;
  width: 100%;
  height: 100%;
  background: url('./assets/bg/2.webp') no-repeat center / cover;
}

.bg-tree .tree {
  position: absolute;
  width: 100%;
  height: 100%;
  background: url('./assets/tree/2.webp') no-repeat center / contain;
}

.selected-toy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include glassmorfBtn(10px);
  border: none;
  width: 80px;
  height: 80px;
  @extend %common_trans;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.selected-toy__img {
  width: 56px;
  height: 56px;
}

.selected-toy__amount {
  right: 2px;
  bottom: 2px;
  color: #fff;
  font: 12px 'Open-Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  width: 24px;
  height: 24px;
  background-color: $main_color;
  border-radius: 50%;
}

.selected-toys {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.decorated-trees {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.decorated-tree {
  @include glassmorfBtn(10px);
  border: none;
  width: 160px;
  height: 160px;
  @extend %common_trans;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

@media screen and (max-width: 1080px) {
  .bg-tree {
    min-width: 400px;
  }
}

@media screen and (max-width: 1440px) {
  .page-tree {
    grid-template-areas:
      'tree toys toys'
      'settings toys toys';
    gap: 24px;
  }
  .page-tree__settings {
    max-width: 100%;
    width: 90%;
    padding: 0;
  }
  .bg-tree {
    min-height: 550px;
  }
  .page-tree__toys {
    max-width: 100%;
    padding: 0;
  }
}
