.page-tree {
  display: grid;
  grid-template-areas: 'settings tree toys';
  min-height: calc(100vh - 140px);
  grid-template-columns: 1fr 2fr 1fr;
  background: linear-gradient(
      rgba($color: $bg_color, $alpha: 0.8),
      rgba($color: $bg_color, $alpha: 0.8)
    ),
    url('assets/bg.webp') no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}

.page-tree__settings,
.page-tree__toys {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0 auto;
}

.page-tree__settings {
  grid-area: settings;
  max-width: 320px;
}

.page-tree__toys {
  grid-area: toys;
  max-width: 370px;
}

.music-btn {
  transform: scale(1);
  background: center / contain no-repeat url('assets/svg/audio.svg');
}

.snow-btn {
  background: center / contain no-repeat url('assets/svg/snow.svg');
}

.default-trees {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.default-tree {
  width: 134px;
  height: 134px;
  @include glassmorfBtn(10px);
  border: none;
  cursor: pointer;
  @extend %common_trans;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:hover {
    transform: scale(1.1);
  }
}

.select-bg-trees {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.select-bg-tree {
  width: 68px;
  height: 68px;
  border-radius: 10px;
  cursor: pointer;
  @extend %common_trans;
  background-image: url('assets/bg/1.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &:hover {
    transform: scale(1.1);
  }
}

.garland-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.garland-checkbox {
  display: none;
}

.garland-slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  border-radius: 34px;
  top: 0;
  transition: 0.4s;
}

.garland-slider::before {
  background-color: #fff;
  bottom: 4px;
  content: '';
  height: 26px;
  left: 4px;
  position: absolute;
  border-radius: 50%;
  transition: 0.4s;
  width: 26px;
}

.garland-checkbox:checked + .garland-slider {
  background-color: $main_color;
}

.garland-checkbox:checked + .garland-slider::before {
  transform: translateX(26px);
}

.garland-colors {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
}

.garland-color {
  height: 24px;
  width: 24px;
  border-radius: 50%;

  position: relative;
  top: 0px;
  transition: all 250ms ease;

  &:active {
    position: relative;
    transition: all 250ms ease;
    top: 5px;
    box-shadow: none !important;
  }
}

.garland-title-box {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.title.garland-title {
  margin: 0;
}

.save-tree-btn {
  @include glassmorfBtn;
  max-width: 150px;
  height: 40px;
  width: 100%;
  font-family: 'Open-Sans', sans-serif;
  color: #fff;
  text-transform: uppercase;
}

.bg-tree {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: tree;
  overflow: hidden;
  min-width: 700px;
  width: 100%;
  height: calc(100vh - 70px);
  background-image: url('assets/bg/1.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.bg-tree .tree {
  display: block;
  width: 90%;
  height: 90%;
}

.selected-toy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  @include glassmorfBtn(10px);
  border: none;
  width: 80px;
  height: 80px;
  @extend %common_trans;

  &:hover {
    transform: scale(1.1);
  }
}

.selected-toy__img {
  display: block;
  position: absolute;
  z-index: 2;
  object-fit: contain;
  cursor: move;
  width: 56px;
  height: 56px;
}

.selected-toy__amount {
  right: 2px;
  bottom: 2px;
  color: #fff;
  font: 12px 'Open-Sans', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  z-index: 100;
  width: 24px;
  height: 24px;
  background-color: $main_color;
  border-radius: 50%;
}

.selected-toys {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.decorated-trees {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.decorated-tree {
  @include glassmorfBtn(10px);
  border: none;
  width: 160px;
  height: 160px;
  @extend %common_trans;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}
$red: #fb4545;
$green: #24d024;
$blue: #0a53de;
$yellow: #fff952;
$pink: #f53896;

.garland-line {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  pointer-events: none;
  left: 40%;
  transform: translate(-50%, 0);
}
.garland-line li {
  position: relative;
  margin: 0 15px;
  list-style: none;
  padding: 0;
  display: inline-block;
  width: 12px;
  height: 22px;
  border-radius: 50%;
  top: 35px;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-duration: 1.5s;

  &:before {
    content: '';
    position: absolute;
    background: #222;
    width: 10px;
    height: 9px;
    border-radius: 3px;
    top: -4px;
    left: 1px;
  }
  &:after {
    content: '';
    top: -14px;
    left: 9px;
    position: absolute;
    width: 30px;
    height: 19px;
    border-bottom: solid #222 2px;
    border-radius: 30%;
  }
}
.tree-container {
  position: relative;
}
.garland-line li:nth-child(3n + 1) {
  animation-duration: 1s;
}
.garland-line li:nth-child(2n + 1) {
  animation-duration: 1.2s;
}

.red {
  background-color: $red;
  animation-name: lightningRed;
}

.green {
  background-color: $green;
  animation-name: lightningGreen;
}

.yellow {
  background-color: $yellow;
  animation-name: lightningYellow;
}

.blue {
  background-color: $blue;
  animation-name: lightningBlue;
}

.pink {
  background-color: $pink;
  animation-name: lightningPink;
}

@keyframes lightningRed {
  0% {
    box-shadow: 5px 10px 35px 10px $red;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 10px 35px 10px $red;
  }
}

@keyframes lightningGreen {
  0% {
    box-shadow: 5px 0 35px 10px $green;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px $green;
  }
}

@keyframes lightningYellow {
  0% {
    box-shadow: 5px 0 35px 10px $yellow;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px $yellow;
  }
}

@keyframes lightningBlue {
  0% {
    box-shadow: 5px 0 35px 10px $blue;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px $blue;
  }
}

@keyframes lightningPink {
  0% {
    box-shadow: 5px 0 35px 10px $pink;
  }
  50% {
    box-shadow: none;
  }
  100% {
    box-shadow: 5px 0 35px 10px $pink;
  }
}

.rainbow-color {
  background: linear-gradient(to bottom right, $red, $pink, $yellow, $green, $blue);
  box-shadow: 0px 6px 0px rgb(121, 121, 121);
}

.red-color {
  background-color: $red;
  box-shadow: 0px 6px 0px #410000;
}
.green-color {
  background-color: $green;
  box-shadow: 0px 6px 0px #004904;
}
.blue-color {
  background-color: $blue;
  box-shadow: 0px 6px 0px #000549;
}
.yellow-color {
  background-color: $yellow;
  box-shadow: 0px 6px 0px #606b00;
}
@keyframes animationBeat {
  0% {
    transform: scale(0.95);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(0.95);
  }
}
.animation-beat {
  animation: animationBeat 1s infinite;
}

.snowflakes {
  position: absolute;
  pointer-events: none;
  top: 80px;
  left: 0;
}

.drop {
  position: absolute;
  top: 0;
  z-index: 3;
  border-radius: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px #fff;
}

.animate {
  animation: falling 5.5s infinite ease-in;
}

.rotate {
  animation: rotateAnimation 5s linear infinite;
}

@keyframes falling {
  0% {
    top: -10px;
  }
  10% {
    transform: translateX(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  70% {
    transform: translateX(5px);
  }
  80% {
    transform: translateX(-5px);
  }
  90% {
    transform: translateX(5px);
  }
  95% {
    opacity: 1;
  }
  100% {
    top: 95vh;
    opacity: 0;
  }
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 1080px) {
  .bg-tree {
    min-width: 400px;
    min-height: 500px;
  }
}

@media screen and (max-width: 1440px) {
  .page-tree {
    grid-template-areas:
      'tree toys toys'
      'settings toys toys';
    gap: 24px;
  }
  .page-tree__settings {
    max-width: 100%;
    width: 90%;
    padding: 0;
  }
  .bg-tree {
    min-height: 650px;
  }
  .page-tree__toys {
    max-width: 100%;
    padding: 0;
  }
}
